server:
  port: 8090

spring:
  application:
    name: think-do
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: optional:file:.env[.properties]
  jackson:
    time-zone: GMT+8